<h1>Testing!</h1>

<%= form_with model: @user do |form| %>
<p>
  <%= form.label :username %><br>
    <%= form.text_field :username %>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
</p>

<p>
  <%= form.label :email, "Personal Email Address" %><br>
    <%= form.email_field :email, value: "example@example.com" %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
</p>

<p>
  <%= form.label :password %><br>
    <%= form.password_field :password %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>
<!-- <form accept-charset="UTF-8" action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p class="username">
    <label for="username">
      <span>Username:</span>
    </label>
    <input type="text" id="username" name="user[username]">
  </p>
  <p class="email">
    <label for="email">
      <span>Email:</span>
    </label>
    <input type="email" id="email" name="user[email]">
  </p>
  <p class="password">
    <label for="Password">
      <span>Password:</span>
    </label>
    <input type="password" id="password" name="user[password]">
  </p>

  <p>
    <button type="submit">Create User</button>
  </p>
</form> -->

